body{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.741);
    color: #e1d8d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 12px;
}


nav{
    overflow: auto;
    background-color: rgb(55, 55, 55);
}

nav a{
    float: left;
    color: #e7e3e3;
    display: block;
    padding: 12px 14px;
    font-size: 18px; 
    text-decoration: none;
}

nav a:hover{
    background-color: #000;
    color: #e1d8d8;
}

nav input[type="text"]{
    float: right;
    padding: 6px;
    border:none;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;  
}

div#names a{
    color: #e1d8d8;
    text-decoration: none;
    float: left;
    
   
   
    padding: 12px 14px;
    font-size: 18px; 
}
#a1{
   
    display: inline-block;
    margin-top: 0px;
    padding-top: 10px;
    
}
#explication{
    font-size: 45px;
    color: #e1d8d8;
    margin-top: 0px;
     
  
}
.mentor1{
    text-decoration: none;
    color: #e1d8d8;
     padding: 12px 14px;
      font-size: 18px; 
}

.description{
    font-size: 20px;
    color: #e1d8d8;
    margin-top: 0px;
   
   
}
.hidden {
    display: none;
}
